h1 {
    margin: 0;
}

span {
    color: var(--platinum);

    font-family: "Inter";
    font-weight: 200;

    margin-top: 1rem;
}

#incorrect {
    color: var(--vermillion);
    
    font-weight: 700;

    margin: 0.5rem;
}