<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/stylesheets/stylesheet.css">
        <link rel="stylesheet" href="../static/stylesheets/forms.css">
        <link rel="stylesheet" href="../static/stylesheets/dates.css">

        <title>Encoding Containers</title>
    </head>

    <body>
        <h1>CONTAINERS ENCODER</h1>

        <form action="{{ url_for('encode.date_route') }}", method="POST">
            <label for="start">start date (MM-DD-YY):</label>
            <input type="date" name="start" id="start">

            <label for="end">end date (MM-DD-YY):</label>
            <input type="date" name="end" id="end">

            <button type="submit">SCRAPE</button>
        </form>
    </body>
</html>