<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}">

        <title>Encoding Containers</title>
    </head>
    
    <body>
            <h1>CONTAINERS ENCODER</h1>

            <div>
                <a href="{{ url_for('encode.login_route') }}">encode</a>
                <a href="">database</a>
            </div>
    </body>
</html>